[project]
	description = Powerful vimrc, keymap similar with spacemacs
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ovsoil (ovsoil)
[access "refs/for/refs/*"]
	read = group user/ovsoil (ovsoil)
	push = group user/ovsoil (ovsoil)
	label-Code-Review = -2..+2 group user/ovsoil (ovsoil)
	label-Verified = -1..+1 group user/ovsoil (ovsoil)
	rebase = group user/ovsoil (ovsoil)
	removeReviewer = group user/ovsoil (ovsoil)
	submit = group user/ovsoil (ovsoil)
[access "refs/heads/*"]
	read = group user/ovsoil (ovsoil)
	create = group user/ovsoil (ovsoil)
	push = +force group user/ovsoil (ovsoil)
	pushMerge = group user/ovsoil (ovsoil)
[access "refs/tags/*"]
	push = group user/ovsoil (ovsoil)
	push = +force group user/ovsoil (ovsoil)
